# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env
venv/

# DLQ & Backups
failed_flights.jsonl
*.jsonl
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project
.env.local
node_modules/
